
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UsingRestDetails</title>

    <script type="text/javascript">

    </script>
        
</head>
<body>
    <div>
        Name: {{article.Name}}
    </div>
    <div>
        Description: {{article.Description}}
    </div>
    <div>
        TotalWithoutVAT: {{article.TotalWithoutVAT}}
    </div>
    <div>
        TotalWithoutVATTotalWithVAT: {{article.TotalWithVAT}}
    </div>
</body>
</html>
